### Handle categorical features

In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("titanic/train.csv", usecols=["Sex"])

In [4]:
df.head()

      Sex
0    male
1  female
2  female
3  female
4    male

In [6]:
pd.get_dummies(df, drop_first=True).head()

   Sex_male
0         1
1         0
2         0
3         0
4         1

In [7]:
df = pd.read_csv("titanic/train.csv", usecols=["Embarked"])

In [16]:
df["Embarked"].unique()

array(['S', 'C', 'Q'], dtype=object)

In [17]:
# Replace missing values with mode
frequent = df["Embarked"].mode()[0]

In [12]:
df["Embarked"].fillna(frequent, inplace=True)

In [13]:
df.head()

  Embarked
0        S
1        C
2        S
3        S
4        S

In [20]:
df. pd.get_dummies(df.Embarked, drop_first=True).head()

   Q  S
0  0  1
1  0  0
2  0  1
3  0  1
4  0  1

In [21]:
!kaggle competitions download -c mercedes-benz-greener-manufacturing

Downloading mercedes-benz-greener-manufacturing.zip to E:\Practice\02 Data Preprocessing\Data Preprocessing

  0%|          | 0.00/343k [00:00<?, ?B/s]
100%|##########| 343k/343k [00:00<00:00, 1.36MB/s]
100%|##########| 343k/343k [00:00<00:00, 1.35MB/s]

In [24]:
df = pd.read_csv("./mercedez_train.csv", usecols=["X0", "X1", "X2", "X3", "X4", "X5", "X6", "X8"])

In [25]:
df.head()

   X0 X1  X2 X3 X4 X5 X6 X8
0   k  v  at  a  d  u  j  o
1   k  t  av  e  d  y  l  o
2  az  w   n  c  d  x  j  x
3  az  t   n  f  d  x  l  e
4  az  v   n  f  d  h  d  n

In [30]:
df.X0.value_counts()

z     360
ak    349
y     324
ay    313
t     306
x     300
o     269
f     227
n     195
w     182
j     181
az    175
aj    151
s     106
ap    103
h      75
d      73
al     67
v      36
af     35
ai     34
m      34
e      32
ba     27
at     25
a      21
ax     19
aq     18
am     18
i      18
u      17
l      16
aw     16
ad     14
k      11
b      11
au     11
r      10
as     10
bc      6
ao      4
c       3
aa      2
q       2
ab      1
g       1
ac      1
Name: X0, dtype: int64

In [35]:
df.isna().sum()

X0    0
X1    0
X2    0
X3    0
X4    0
X5    0
X6    0
X8    0
dtype: int64

In [41]:
for feature in df.columns:
    print(len(df[feature].unique()))

47
27
44
7
4
29
12
25

In [45]:
df.X1.value_counts().sort_values(ascending=False).head(10).index

Index(['aa', 's', 'b', 'l', 'v', 'r', 'i', 'a', 'c', 'o'], dtype='object')

In [46]:
list_10 = list(df.X1.value_counts().sort_values(ascending=False).head(10).index)

In [47]:
list_10

['aa', 's', 'b', 'l', 'v', 'r', 'i', 'a', 'c', 'o']

In [49]:
for categories in list_10:
    df[categories] = np.where(df["X1"]==categories, 1, 0)

In [50]:
df.head()

   X0 X1  X2 X3 X4 X5 X6 X8  aa  s  b  l  v  r  i  a  c  o
0   k  v  at  a  d  u  j  o   0  0  0  0  1  0  0  0  0  0
1   k  t  av  e  d  y  l  o   0  0  0  0  0  0  0  0  0  0
2  az  w   n  c  d  x  j  x   0  0  0  0  0  0  0  0  0  0
3  az  t   n  f  d  x  l  e   0  0  0  0  0  0  0  0  0  0
4  az  v   n  f  d  h  d  n   0  0  0  0  1  0  0  0  0  0

In [53]:
list_10.append('X1')

In [55]:
df[list_10]

      aa  s  b  l  v  r  i  a  c  o X1
0      0  0  0  0  1  0  0  0  0  0  v
1      0  0  0  0  0  0  0  0  0  0  t
2      0  0  0  0  0  0  0  0  0  0  w
3      0  0  0  0  0  0  0  0  0  0  t
4      0  0  0  0  1  0  0  0  0  0  v
...   .. .. .. .. .. .. .. .. .. .. ..
4204   0  1  0  0  0  0  0  0  0  0  s
4205   0  0  0  0  0  0  0  0  0  1  o
4206   0  0  0  0  1  0  0  0  0  0  v
4207   0  0  0  0  0  1  0  0  0  0  r
4208   0  0  0  0  0  1  0  0  0  0  r

[4209 rows x 11 columns]